name: Update Dashboard
on:
  schedule:
    - cron: '0 0 * * *' # Runs every night at midnight
  workflow_dispatch: # Allows to run manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Deps
        run: pip install -r requirements.txt

      - name: Run Engine
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python engine.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add README.md
          git commit -m "docs: automated dashboard update" || exit 0
          git push